<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="QMora.FamilyPhotos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
  </appSettings>
  <userSettings>
    <QMora.FamilyPhotos.Properties.Settings>
      <setting name="Directory_Input" serializeAs="String">
        <value>C:\temp\input</value>
      </setting>
      <setting name="Directory_Backup" serializeAs="String">
        <value>C:\temp\backup</value>
      </setting>
      <setting name="Directory_Output" serializeAs="String">
        <value>C:\temp\output</value>
      </setting>
      <setting name="File_ExcelData" serializeAs="String">
        <value>C:\temp\QMora_Data.xlsx</value>
      </setting>
      <setting name="Draw_FontColor" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="Draw_BackGround" serializeAs="String">
        <value>192, 255, 255</value>
      </setting>
      <setting name="Draw_Font" serializeAs="String">
        <value>Verdana, 8pt</value>
      </setting>
      <setting name="Draw_Box_Height_Percentage" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Draw_Box_Width_Percentage" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Margin_FromLeft_Percentage" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="Margin_FromBotton_Percentage" serializeAs="String">
        <value>10</value>
      </setting>
    </QMora.FamilyPhotos.Properties.Settings>
  </userSettings>
</configuration>